.main {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100dvw - 7rem);
	height: 5rem;
	margin: {
		top: 2rem;
		left: 3.5rem;
		right: 3.5rem;
	}
	z-index: 4;
}

a {
	color: white;
	line-height: 1;
	text-decoration: none;
	transition: color 0.5s ease-in-out;
	font: {
		weight: bold;
		size: 3rem;
	}
}

.icon:hover {
	cursor: pointer;
}

.menu {
	position: fixed;
	display: flex;
	background-color: white;
	height: 0;
	width: 100dvw;
	transition: height 0.5s ease-in-out;
	z-index: 3;
	overflow: hidden;
}

.side {
	color: black;
	display: flex;
	flex-direction: column-reverse;
	padding: 3rem;
	height: 100%;
	width: 50%;
	div {
		display: flex;
		flex-direction: column;
		font-size: 2rem;
	}
	.infoContainer a {
		font: {
			size: 2.5rem;
			weight: normal;
		}
	}
	a {
		color: black;
		line-height: 1;
		text-decoration: none;
		font: {
			weight: bold;
			size: 6rem;
		}
	}
}