.main {
	display: grid;
	grid-template-rows: 1fr 1.5fr 1fr;
	padding: {
		top: 8rem;
		bottom: 2rem;
		left: 3rem;
		right: 3rem;
	}
	width: 100dvw;
	height: 100dvh;
}

.top {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4rem;
	padding: 1rem 0rem;
	justify-content: space-between;
	border: solid 1px white;
}

.spending {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px 20px;
	font-size: 1.5rem;
	border: solid 1px white;
	border-radius: 20px;
}