.main {
	display: flex;
	flex-direction: column;
	width: 100svw;
	height: 100svh;
	font-size: 1.125rem;
}

.header {
	display: flex;
	justify-content: center;
	position: relative;
	padding-top: 6rem;
	padding-bottom: 1.5rem;
	width: 100%;
}

svg {
	width: 3rem;
	height: 3rem;
}

.content {
	display: flex;
}

.category {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.title {
	margin: 0;
	align-self: center;
}

.info {
	display: flex;
	margin: 0.5rem 0 0.5rem 12.5svw;
	img {
		width: 6rem;
		height: 6rem;
		border-radius: 1rem;
	}
	div {
		margin-left: 1rem;
		p {
			font-style: italic;
		}
	}
}

.description {
	max-width: 22.5svw;
	padding-left: 3.75rem;
	font-size: 1rem;
	margin-left: calc(12.5svw + 3rem);
	border-left: 0.25rem solid white;
}